<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845473424065-hduuaa3nqet1hbcpgkb5i6okfjn91pe8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845473424065-hduuaa3nqet1hbcpgkb5i6okfjn91pe8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>845473424065-068g0f2i0i4grr07fb70nlfpir5v7dkv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD1kICqvOt3UByA_AN4clZiKeM7VkHcuQE</string>
	<key>GCM_SENDER_ID</key>
	<string>845473424065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clsu.bsit.aroundMuseoDeBalerMobileApp</string>
	<key>PROJECT_ID</key>
	<string>around-museo-de-baler-bfb54</string>
	<key>STORAGE_BUCKET</key>
	<string>around-museo-de-baler-bfb54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845473424065:ios:0b70934e884df903086a40</string>
</dict>
</plist>